@media (min-width: 576px) {
  body > header,
  body > main,
  body > footer {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  body > header,
  body > main,
  body > footer {
    max-width: 700px;
  }
}

header > h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--pico-primary-background);
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

td:last-child {
  text-align: center;
}

th {
  background-color: var(--pico-card-sectioning-background-color);
}

td {
  background-color: var(--pico-card-background-color);
}

summary {
  font-weight: 700;
  font-size: 1.5rem;
}
