@media (min-width: 576px) {
  body > header,
  body > main,
  body > footer {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  body > header,
  body > main,
  body > footer {
    max-width: 700px;
  }
}

header > h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--pico-primary-background);
}

article > header,
article > main {
  grid-template-columns: 1fr 1fr 1fr;
}

article > header,
article > main {
  display: grid;
  grid-column-gap: var(--pico-block-spacing-horizontal);
}

section > hgroup > button {
  color: var(--pico-primary-inverse);
  padding: calc(var(--pico-form-element-spacing-vertical)/2) calc(var(--pico-form-element-spacing-horizontal));
}

button > img {
  margin-bottom: 4px;
  width: 48px;
  height: 48px;
  filter: invert(1);
}

