[Unit]
Description=blackbox_exporter
Documentation=https://github.com/prometheus/blackbox_exporter

[Service]
Restart=always
User=blackbox_exporter
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/blackbox_exporter \
  --config.file=/usr/local/etc/blackbox_exporter/blackbox.yml \
  --web.listen-address=127.0.0.1:9115

[Install]
WantedBy=multi-user.target
