[Unit]
Description=node_exporter
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=always
User=node_exporter
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=127.0.0.1:9100

[Install]
WantedBy=multi-user.target
