KEY="{{ DIRECTUS_KEY }}"
SECRET="{{ DIRECTUS_SECRET }}"
HSTS_ENABLED="true"
CORS_ENABLED="true"

WEBSOCKETS_ENABLED="true"

ADMIN_EMAIL="{{ DIRECTUS_ADMIN_EMAIL }}"
ADMIN_PASSWORD="{{ DIRECTUS_ADMIN_PASSWORD }}"

DB_CLIENT="pg"
DB_HOST="postgresql"
DB_PORT="5432"
DB_USER="{{ DIRECTUS_DB_USER }}"
DB_PASSWORD="{{ DIRECTUS_DB_PASSWORD }}"
DB_DATABASE="{{ DIRECTUS_DB_DATABASE }}"

TELEMETRY="false"
