<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <title>dc3.se | Blog</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="css/pico.colors.min.css" />
    <link rel="stylesheet" href="css/pico.pink.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/vue.global.prod.js"></script>
  </head>
  <body id="app">
    <nav class="container">
      <ul>
        <li><h1>dc3.se</h1></li>
      </ul>
      <ul>
        <!--
        <li><a href="#" role="button">About <img src="img/about.svg" alt="About" /></a></li>
        <li><a href="#" role="button">Blog <img src="img/blog.svg" alt="Blog" /></a></li>
        <li><a href="#" role="button">Docs <img src="img/docs.svg" alt="Docs" /></a></li>
        -->
        <li><a href="https://github.com/wikro/dc3" role="button">GitHub <img src="img/github.svg" alt="GitHub" /></a></li>
      </ul>
    </nav>
    <main class="container">
      <details v-for="target in activeTargets">
        <summary role="button" class="outline"><strong v-bind:class="target.health.toLowerCase()">{{ target.health.toUpperCase() }}</strong> {{ target.labels.instance }}</summary>
        <ul>
          <template v-for="(value, name) in target.labels">
            <li v-if="name !== 'instance'"><strong>{{ name }}</strong> = {{ value }}</li>
          </template>
        </ul>
      </details>
    </main>
    <script src="js/app.js"></script>
  </body>
</html>
